.input{
    width: 447px;
    border: none;
    border-bottom: 1px solid #BEBEBE;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: #a0a0a0;
    margin: 15px 0;
}