/* MORE IN CATALOG */
.more-in-catalog {
  background: #f2f2f2;
  padding: 170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  gap: 130px;
}

.more-in-catalog-text {
  position: absolute;
  padding-top: 80px;
  padding-right: 600px;
}
.more-in-catalog-text h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.more-in-catalog-text p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.more-in-catalog-img-div {
  width: 710px;
  height: 579px;
  background: #c4c4c4;
}
.more-catalog-img {
  width: 710px;
  height: 579px;
}
.more-in-catalog-btn {
    margin-bottom: 130px;
  align-self: end;
}
.catalog-btn {
  background: #ff8a00;
  padding: 10px;
  width: 224px;
  height: 45px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
